[Unit]
Description=A demo service with pipe
After=sshd.service

[Service]
Type=simple
ExecStart=/usr/local/bin/pipe.sh 
ExecStop=/bin/kill $MAINPID
KillMode=process

[Install]
WantedBy= multi-user.target
